<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= data.name %></title>
</head>
<body>
  <h2><%= data.name %>の編集</h2>
  <form action="/element/update/<%= data.id - 1 %>" method="POST">
    <table>
      <tr><th>項目</th><th>データ</th></tr>
      <tr><td>原子番号</td><td><input type="text" name="number" value="<%= data.number %>"></td></tr>
      <tr><td>元素名</td><td><input type="text" name="name" value="<%= data.name %>"></td></tr>
      <tr><td>元素記号</td><td><input type="text" name="symbol" value="<%= data.symbol %>"></td></tr>
      <tr><td>原子量</td><td><input type="text" name="amount" value="<%= data.amount %>"></td></tr>
      <tr><td>標準状態</td><td><input type="text" name="state" value="<%= data.state %>"></td></tr>
      <tr><td>詳細</td><td><input type="text" name="information" value="<%= data.information %>"></td></tr>
    </table>
    <input type="submit" values="登録">
  </form>
  <a href="/element/">元素周期表一覧に戻る</a>
</body>
</html>