<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= data.name %></title>
</head>
<body>
  <h2><%= data.name %>の編集</h2>
  <form action="/kgpr/update/<%= data.id - 1 %>" method="POST">
    <table>
      <tr><th>項目</th><th>データ</th></tr>
      <tr><td>団員No</td><td><input type="text" name="number" value="<%= data.number %>"></td></tr>
      <tr><td>名前</td><td><input type="text" name="name" value="<%= data.name %>"></td></tr>
      <tr><td>能力</td><td><input type="text" name="ability" value="<%= data.ability %>"></td></tr>
      <tr><td>誕生日</td><td><input type="text" name="birthday" value="<%= data.birthday %>"></td></tr>
      <tr><td>テーマ曲</td><td><input type="text" name="music" value="<%= data.music %>"></td></tr>
      <tr><td>詳細</td><td><input type="text" name="information" value="<%= data.information %>"></td></tr>
    </table>
    <input type="submit" values="登録">
  </form>
  <a href="/kgpr/">カゲプロキャラ表一覧に戻る</a>
</body>
</html>