<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>削除確認</title>
</head>
<body>
  <h1>以下の駅データを削除しますか？</h1>

  <ul>
    <li>ID: <%= data.id %></li>
    <li>Code: <%= data.code %></li>
    <li>駅名: <%= data.name %></li>
    <li>乗換: <%= data.change %></li>
    <li>乗客数: <%= data.passengers %></li>
    <li>距離: <%= data.distance %></li>
  </ul>

  <form action="/keiyo2/delete/<%= id %>" method="POST">
    <input type="submit" value="削除する">
  </form>

<a href="/keiyo2/delete/<%= id %>">削除</a>
</body>
</html>