<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= data.name %></title>
</head>
<body>
  <h2><%= data.name %>の編集</h2>
  <form action="/vocaloid/update/<%= data.id - 1 %>" method="POST">
    <table>
      <tr><th>項目</th><th>データ</th></tr>
      <tr><td>動画ID</td><td><input type="text" name="url" value="<%= data.url %>"></td></tr>
      <tr><td>曲名</td><td><input type="text" name="name" value="<%= data.name %>"></td></tr>
      <tr><td>再生回数</td><td><input type="text" name="plays" value="<%= data.plays %>"></td></tr>
      <tr><td>投稿日</td><td><input type="text" name="day" value="<%= data.day %>"></td></tr>
      <tr><td>作曲者</td><td><input type="text" name="composer" value="<%= data.composer %>"></td></tr>
      <tr><td>作詞者</td><td><input type="text" name="lyricist" value="<%= data.lyricist %>"></td></tr>
      <tr><td>イラストレーター</td><td><input type="text" name="illustrator" value="<%= data.illustrator %>"></td></tr>
    </table>
    <input type="submit" values="登録">
  </form>
  <a href="/vocaloid/">ボカロ曲一覧に戻る</a>
</body>
</html>