<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>削除確認</title>
</head>
<body>
  <h1>以下のボカロ曲データを削除しますか？</h1>

  <ul>
    <li>ID: <%= data.id %></li>
    <li>動画ID: <%= data.url %></li>
    <li>曲名: <%= data.name %></li>
    <li>再生回数: <%= data.plays %></li>
    <li>投稿日: <%= data.day %></li>
    <li>作曲者: <%= data.composer %></li>
    <li>作詞者: <%= data.lyricist %></li>
    <li>イラストレーター: <%= data.illustrator %></li>
  </ul>

  <form action="/vocaloid/delete/<%= id %>" method="POST">
    <input type="submit" value="削除">
  </form>

  <a href="/vocaloid">ボカロ曲一覧に戻る</a>
</body>
</html>